<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yexx.pokeagenda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.hardware.camera"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PokeAgenda">

        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.DetalheActivity" />
        <!-- Activities Menu -->
        <activity
            android:name=".Activity.ConsultarPokemonActivity"
            android:label="@string/menu_primeira_opcao"
            android:parentActivityName=".Activity.WelcomeActivity" />
        <activity
            android:name=".Activity.CadastrarPokemonActivity"
            android:label="@string/menu_segunda_opcao"
            android:parentActivityName=".Activity.WelcomeActivity" />
        <!-- - -->
        <activity android:name=".Activity.WelcomeActivity" />
    </application>

</manifest>